

.menu {
    .menu-list {
        padding-left: 0;

        li {
            list-style: none;
        }
    }
}

.menu-wrap {
    position: relative;
    display: flex;

    .menu-side {
        width: 180px;
    }

    .menu-body {
        flex: 1;
        display: flex;
        padding-left: 20px;

        .content {
            flex: 1;
        }

        .silver {
            width: 240px;
        }
    }
}