.page-wrapper {
    .banner {
        height: calc(100vh - 50px);
        min-height: 320px;
        max-height: 720px;
        text-align: center;
    }

    .introduction {
        background: #2B3A42;
        text-align: center;
        color: #fff;
        padding-top: 200px;

        h1 {
            font-size: 38px;
        }

        h2 {
            font-size: 24px;
        }

        .container {
            padding-top: 100px;

            .button {
                width: 100px;
                margin-right: 15px;
            }
        }
    }

    .showcase {
        background: #f5f5f5;

        .container {
            position: relative;
            height: 100%;

            .level {
                position: relative;
                height: 100%;
                line-height: 1;
                display: flex;

                .level-item {
                    flex: 1;

                    .subtitle {
                        margin-bottom: 20px;
                        color: #111111;
                    }

                    p {
                        line-height: 1.5;
                    }
                }
            }
        }
    }

    .support {
        .container {
            position: relative;
            height: 100%;
            
            .columns {
                padding-top: 150px;
            }
        }
    }
}